<html>
    <head>
        <meta charset="utf-8">
        <title>წამკითხველი</title>
        <script type="text/javascript" src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vue-resource@1.0.3/dist/vue-resource.js"></script>
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css"/>
    </head>
    <body>
        <div id="app">
            <a v-for="language in languages" href="" v-on:click.prevent="change_language(language.value)">{{language.title}}  </a>
            <h2>{{lang.welcome}}</h2>
            <form>
                <input type="file" v-on:change="image_changed" name="image" v-bind:title="lang.image" v-bind:accept="image.accept"/>
                <select v-model="post_data.language">
                    <option v-for="language in languages"  v-bind:value="language.value">{{ language.title }}</option>
                </select>
                <input type="submit" v-bind:value="lang.submit" v-on:click.prevent="read"/>
            </form>
            <div>
                <textarea rows="10" cols="73" readonly v-bind:placeholder="lang.textarea_placeholder" width="600">{{image.text}}</textarea><br clear="all"/>
                <div v-show="image.error.length">iggrgrgrg{{image.error}}</div><br clear="all"/>
                <img v-bind:src="image.image" v-bind:title="image.text" width="600"/>
            </div>
        </div>
        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    languages:[{
                        title: 'ქართული',
                        value: 'geo',
                        page_title: 'წამკითხველი',
                        welcome: 'გამარჯობათ',
                        image: 'სურათი',
                        submit: 'ამოკითხვა',
                        textarea_placeholder: 'წაკითხული ტექსტი'
                    },{
                        title: 'English',
                        value: 'eng',
                        page_title: 'Reader',
                        welcome: 'Hello',
                        image: 'image',
                        submit: 'read',
                        textarea_placeholder: 'Readed text'
                    }],
                    lang: {},
                    post_data: {
                        language: null,
                        image: null
                    },
                    image: {
                        title: null,
                        accept: "image/gif, image/jpeg, image/png",
                        text: null,
                        image: null,
                        error: ""
                    },
                    post_url: 'http://localhost:8000/reader',
                    title: 'title'
                },
                created: function() {
                    this.lang = this.languages[0];
                    this.post_data.language = this.lang.value;
                    document.title = this.lang.page_title;
                },
                methods:{
                    image_changed: function(e){
                        var files = e.target.files || e.dataTransfer.files;
                        if (!files.length)
                            return;
                        this.post_data.image = files[0];
                        this.change_image(files[0]);
                    },
                    change_image: function(file) {
                        var image = new Image();
                        var reader = new FileReader();
                        var vm = this;

                        reader.onload = (e) => {
                            vm.image.image = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    },
                    change_language: function(lang) {
                        for(var i = 0; i < this.languages.length; i++){
                            if(this.languages[i].value == lang){
                                this.lang = this.languages[i];
                                this.post_data.language = this.lang.value;
                                document.title = this.lang.page_title;
                            }
                        }
                    },
                    read: function() {
                        var formData = new FormData();
                        formData.append('language', this.post_data.language);
                        formData.append('image', this.post_data.image);
                        var vm = this;
                        this.$http.post(this.post_url, formData, { method: 'PATCH'}).then(function(res){
                            var data = JSON.parse(res.body);
                            vm.image.title = data.data;
                            vm.image.text = data.data;
                        });
                    }
                }
            })
        </script>
    </body>
</html>

